<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e">
    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find simplified_ur10e_ros2_control)/config/ur10e_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>
